name: Pull Singularity container & Setup Repository

on:
  workflow_call:
    inputs:
      singularity_image:
        required: true
        type: string
      sif_file:
        required: true
        type: string

jobs:
  init:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup Apptainer
        uses: eWaterCycle/setup-apptainer@v2
        with:
          apptainer-version: 1.3.0
      
      - name: Cache Singularity Image
        id: cache-singularity
        uses: actions/cache@v3
        with:
          path: ~/singularity_images
          key: ${{ runner.os }}-singularity-${{ hashFiles('**/singularity_image_url.txt') }}
      
      - name: Pull Singularity container
        if: steps.cache-singularity.outputs.cache-hit != 'true'
        run: |
          mkdir -p ~/singularity_images
          singularity registry login --username ${{ github.actor }} --password ${{ secrets.GITHUB_TOKEN }} oras://ghcr.io
          singularity pull --dir ~/singularity_images ${{ inputs.sif_file }} ${{ inputs.singularity_image }}
          echo "${{ inputs.singularity_image }}" > ~/singularity_images/singularity_image_url.txt